[defaults]
inventory = inventory.yml
ansible_port = 22
stdout_callback = debug

roles_path = ./.ansible/roles:./roles
collections_path = ./.ansible/collections:./collections
module_path = .ansible/modules
