[defaults]
inventory = inventory.yml
ansible_port = 22

; Пользователь и ssh-ключ для удалённых хостов - раскомментируйте под своё окружение:
; remote_user = ansible-user
; private_key_file = ~/.ssh/id_ed25519

; Отключить проверку ssh-ключей хостов (удобно для тестовых стендов, для боевых небезопасно)
; host_key_checking = False

; Не выводить предупреждение о выбранном python-интерпретаторе
interpreter_python = auto_silent

stdout_callback = ansible.builtin.default
result_format = yaml

roles_path = ./.ansible/roles:./roles
collections_path = ./.ansible/collections:./collections
module_path = .ansible/modules
